
<div class="container">
<h2>Welcome to the dashboard!</h2>

<% if @my_bookings.empty? %>
  <h5>You have no bookings.</h5>
<% else %>
  <% @my_bookings.each do |booking|%>
  <h5>Booking Start Date:</h5><%=booking.start_on%>
  <h5>Booking End Date: </h5><%=booking.end_on%>
  <% end %>
<% end %>


</div>
<%# <%= current_user.cars.bookings %>
