<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1542282088-72c9c27ed0cd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1932&q=80);">
<div class="container-button">
<%= link_to cars_path do %>
<button id="button">Rent a Car</button>
<% end %>
</div>
</div>
<div class="title">
  <h1>Welcome to AirCar. It's so easy you'll love it!</h1>
</div>
