<div class="banner-container">
  <div class="banner">
    <div class="background">
      <div class="title">
        <h1>Welcome to AirCar </h1>
        <h3>It's so easy you'll love it!</h3>
      </div>
      <div class="container-button">
        <%= link_to cars_path do %>
          <button id="button">Rent a Car</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
