$green: #1ECD97;
$gray: #bbbbbb;
* {
  font-family: 'Roboto', sans-serif;
}
.container-button{
  margin: 0 auto;
  width: 130px;
  height: 40px;
  text-align: center;
}
#button {
  outline:none;
  height: 55px;
  text-align: center;
  width: 160px;
  border-radius:40px;
  background: #fff;
  border: 2px solid $green;
  color: $green;
  letter-spacing:1px;
  text-shadow:0;
  font: {
    size:18px;
    font-weight: bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:white;
    background: $green;
  }
}
